
body {
  font-family: 'Roboto', sans-serif;
  background-color: #F3EFEF;
  overflow: hidden;
}

.bg-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("https://ritsuki-i.github.io/my-portfolio/img/ojitrans-icon.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transform: rotate(calc(10deg - 20deg * var(--i)));
  z-index: -10;
}

.main-content {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #333333;
  background-color: #FFFFFF;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

h1 {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

h2 {
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 1.5rem;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}




  